.about {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 32px 233px;
  position: relative;
  display: grid;
  grid-column-gap: 100px;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "link link"
    "content review";
}

.about__tab-triggers {
  min-height: 104px;
  grid-area: link;
}

.about__tab-content {
  grid-area: content;
}

.about__reviews {
  grid-area: review;
}

.about__map-image {
  max-width: fit-content;
  position: absolute;
  top: 119px;
  transform: translateX(-50%);
  left: 50%;
  z-index: -10;
}
