.button {
  margin: 0;
  padding: 0;
  color: $basic_white;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  border: none;
  text-transform: uppercase;
  background-color: $basic_orange-red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: $basic_orange;
  }

  &--arrow {
    justify-content: space-between;
    padding: 0 40px;

    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon-arrow.svg");
    }
  }

  &--transparent {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid $special_white;
  }
}
