.catalog {
  padding: 200px 32px 25px;
}

.catalog__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.catalog__title {
  width: 360px;
  margin: 0;
  margin-bottom: 64px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: $basic_dark;
  position: relative;

  &::after {
    content: "";
    width: 228.5px;
    height: 4px;
    background-color: $basic_orange-red;
    position: absolute;
    bottom: -30px;
    left: 0;
  }
}

.catalog__lead {
  width: 330px;
  margin: 0;
  margin-bottom: 55px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: $special_dark;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.catalog__item {
  max-width: 350px;
  height: 430px;
  margin-bottom: 100px;
  flex: 1 1 300px;
}

@media (max-width: $tablet-width) {
  .catalog {
    padding: 80px 76px 55px;
  }

  .catalog__wrapper {
    align-items: center;
  }

  .catalog__title {
    width: 300px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
    text-align: center;

    &::after {
      display: none;
    }
  }

  .catalog__lead {
    width: 345px;
    margin-bottom: 40px;
    text-align: center;
  }

  .catalog__list {
    justify-content: center;
  }

  .catalog__item {
    height: 425px;
    margin-bottom: 40px;
    flex: 0 0 288px;

    &:nth-child(2n) {
      margin-left: 40px;
    }
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    padding: 80px 6px 40px;
  }

  .catalog__title {
    font-size: 24px;
    line-height: 36px;
  }

  .catalog__title,
  .catalog__lead {
    width: 288px;
    margin-bottom: 20px;
  }

  .catalog__list {
    flex-direction: column;
  }

  .catalog__item {
    &:nth-child(2n) {
      margin-left: 0;
    }
  }
}
