.footer {
  max-width: 1234px;
  margin: 0 auto;
  padding: 0 32px 74px;
  display: flex;
  justify-content: space-between;
}

.footer__next-travel,
.footer__socials,
.footer__corporate-travel {
  max-width: 387px;
}

.footer__next-travel {
  margin-right: auto;
  margin-left: 0;
  padding-right: 10px;
}

.footer__socials {
  margin: 0 auto;
  padding: 0 10px;
}

.footer__corporate-travel {
  padding-left: 10px;
}
