.form {
  padding: 50px;
  background-color: $basic_white;
  box-shadow: 0px 4px 30px $special_grey;
  border-radius: 5px;
}

.form__contacts {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .form__contacts {
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    padding: 50px 16px;
    background-color: $special_light_grey-3;
    border-radius: 0;
    box-shadow: none;
  }
}
