.form-section {
  min-height: 455px;
  max-width: 1234px;
  margin: 0 auto;
  margin-bottom: 160px;
  padding-right: 32px;
  background-image: url("../img/form-bg-besktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/form-bg-besktop@2x.jpg");
  }
}

.form-section__form {
  max-width: 656px;
  margin-right: 0;
  margin-left: auto;
}

.form-section__button {
  width: 176px;
  height: 50px;
  margin: 0 auto;
}
