.form-contacts {
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-contacts__title {
  width: 100%;
  margin: 0;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $basic_black;
  text-align: center;
}

.form-contacts__lead {
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $basic_black;
  text-align: center;
}

.form-contacts__label {
  width: 269px;
  height: 50px;
  position: relative;
  display: flex;

  &:nth-child(even) {
    margin-left: 18px;
  }

  &--phone {
    &::before,
    &::after {
      font-family: Montserrat;
      position: absolute;
    }

    &::before {
      content: "*";
      color: $basic_orange-red;
      font-weight: 700;
      font-size: 17px;
      line-height: 21px;
      top: 7px;
      left: 15px;
    }

    &::after {
      content: "+7";
      color: $basic_black;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      transform: translateY(-50%);
      top: 50%;
      left: 26px;
    }

    .form-contacts__input {
      padding: 15px 15px 15px 51px;
    }
  }
}

.form-contacts__input {
  width: 100%;
  padding: 15px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $basic_black;
  border: 1px solid $special_dark-2;
  border-radius: 0;

  &::-webkit-input-placeholder {
    color: $basic_black;
  }

  &::-moz-placeholder {
    color: $basic_black;
  }
}

@media (max-width: $mobile-width) {
  .form-contacts__label {
    width: 100%;

    &:nth-child(even) {
      margin-left: 0;
    }
  }

  .form-contacts__title,
  .form-contacts__lead,
  .form-contacts__label:not(:last-child) {
    margin-bottom: 20px;
  }
}
