.form-section {
  min-height: 455px;
  max-width: 1234px;
  margin: 0 auto;
  margin-bottom: 160px;
  padding: 0 32px 0;
  background-image: url("../img/form-bg-besktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 32px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-section__form {
  max-width: 656px;
}

.form-section__button {
  width: 176px;
  height: 50px;
  margin: 0 auto;
}
