.form-section {
  min-height: 455px;
  max-width: 1234px;
  margin: 0 auto;
  margin-bottom: 160px;
  padding-right: 32px;
  background-image: url("../img/form-bg-besktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/form-bg-besktop@2x.jpg");
  }
}

.form-section__form {
  max-width: 656px;
  margin-right: 0;
  margin-left: auto;
}

.form-section__button {
  width: 176px;
  height: 50px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .form-section {
    max-width: 100%;
    padding: 0;
    background-image: url("../img/form-bg-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/form-bg-tablet@2x.jpg");
    }
  }

  .form-section__form {
    margin: 0 auto 4px;
  }

  .form-section__button {
    width: 250px;
  }
}

@media (max-width: $mobile-width) {
  .form-section {
    background-image: none;
  }

  .form-section__form {
    max-width: 100%;
    margin: 0;
  }

  .form-section__button {
    width: 288px;
  }
}
