.next-travel__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $basic_black;
}

.next-travel__columns {
  display: flex;
}

.next-travel__col {
  white-space: nowrap;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.next-travel__link {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: $basic_dark;
  opacity: 0.5;
}

@media (max-width: $mobile-width) {
  .next-travel {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .next-travel__title {
    flex: 1 1 100%;
  }

  .next-travel__columns {
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .next-travel__col {
    flex: 0 1 134px;
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
