.next-travel__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $basic_black;
}

.next-travel__list {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 50px;
}

.next-travel__item {
  margin-bottom: 10px;
}

.next-travel__link {
  font-size: 14px;
  line-height: 17px;
  color: $basic_dark;
  opacity: 0.5;
}
