.promo {
  min-height: 860px;
  background-image: url("../img/promo-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__wrapper {
  width: 412px;
  padding-top: 185px;
  margin-right: 433px;
  margin-left: auto;
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;
  color: $basic_white;
}

.promo__lead {
  margin: 0;
  margin-bottom: 39px;
  width: 376px;
  line-height: 27px;
  letter-spacing: -0.466667px;
  color: $basic_white;
}

.promo__link {
  width: 340px;
  height: 75px;
}
