.promo {
  min-height: 860px;
  background-image: url("../img/promo-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-bg-desktop@2x.jpg");
  }
}

.promo__wrapper {
  width: 412px;
  padding-top: 185px;
  margin-right: 433px;
  margin-left: auto;
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;
  color: $basic_white;
}

.promo__lead {
  margin: 0;
  margin-bottom: 39px;
  width: 376px;
  line-height: 27px;
  letter-spacing: -0.466667px;
  color: $basic_white;
}

.promo__link {
  width: 340px;
  height: 75px;
}

@media (max-width: $tablet-width) {
  .promo {
    min-height: 344px;
    background-image: url("../img/promo-bg-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg-tablet@2x.jpg");
    }
  }

  .promo__wrapper {
    width: 400px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__title {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
  }

  .promo__title,
  .promo__lead {
    width: 100%;
    margin: 0 0 15px;
    text-align: center;
  }

  .promo__link {
    width: 250px;
    height: 50px;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    min-height: fit-content;
    background-image: none;
  }

  .promo__wrapper {
    width: 100%;
    padding: 0;
  }

  .promo__title {
    min-height: 235px;
    padding: 16px;
    font-size: 24px;
    line-height: 36px;
    background-image: url("../img/promo-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg-tablet@2x.jpg");
    }
  }

  .promo__lead {
    padding: 0 16px;
    color: $basic_dark;
  }

  .promo__title,
  .promo__lead {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }

  .promo__link {
    width: 288px;
  }
}
