.reviews__item {
  min-height: 430px;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
  align-items: center;
  display: none;

  &--active {
    display: flex;
  }

  &--greece {
    background-image: url("../img/reviews-bg-greece-desktop.jpg");
  }

  &--albania {
    background-image: url("../img/reviews-bg-albania-desktop.jpg");
  }

  &--macedonia {
    background-image: url("../img/reviews-bg-macedonia-desktop.jpg");
  }

  &--montenegro {
    background-image: url("../img/reviews-bg-montenegro-desktop.jpg");
  }

  &--croatia {
    background-image: url("../img/reviews-bg-croatia-desktop.jpg");
  }

  @media (min-resolution: 2dppx) {
    &--greece {
      background-image: url("../img/reviews-bg-greece-desktop@2x.jpg");
    }

    &--albania {
      background-image: url("../img/reviews-bg-albania-desktop@2x.jpg");
    }

    &--macedonia {
      background-image: url("../img/reviews-bg-macedonia-desktop@2x.jpg");
    }

    &--montenegro {
      background-image: url("../img/reviews-bg-montenegro-desktop@2x.jpg");
    }

    &--croatia {
      background-image: url("../img/reviews-bg-croatia-desktop@2x.jpg");
    }
  }
}

.reviews__item-wrapper {
  width: 382px;
  padding: 30px;
  background-color: $basic_white;
}

.reviews__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  color: $basic_dark;
  position: relative;

  &::after {
    content: "";
    width: 68px;
    height: 1px;
    background-color: $basic_orange-red;
    position: absolute;
    bottom: -16px;
    left: 0;
  }
}

.reviews__review-wrapper {
  margin: 0;
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
  color: $special_dark;
}

.reviews__author {
  margin-top: 35px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.466667px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &::before {
    content: "";
    width: 38px;
    height: 38px;
    margin-right: 16px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--vlada::before {
    background-image: url("../img/reviews-author-vlada.jpg");
  }

  &--marishka::before {
    background-image: url("../img/reviews-author-marishka.jpg");
  }

  &--mikhail::before {
    background-image: url("../img/reviews-author-mikhail.jpg");
  }

  &--anastacia::before {
    background-image: url("../img/reviews-author-anastacia.jpg");
  }

  &--vladimir::before {
    background-image: url("../img/reviews-author-vladimir.jpg");
  }

  @media (min-resolution: 2dppx) {
    &--vlada::before {
      background-image: url("../img/reviews-author-vlada@2x.jpg");
    }

    &--marishka::before {
      background-image: url("../img/reviews-author-marishka@2x.jpg");
    }

    &--mikhail::before {
      background-image: url("../img/reviews-author-mikhail@2x.jpg");
    }

    &--anastacia::before {
      background-image: url("../img/reviews-author-anastacia@2x.jpg");
    }

    &--vladimir::before {
      background-image: url("../img/reviews-author-vladimir@2x.jpg");
    }
  }
}
