.socials__link {
  color: $basic_black;
  display: flex;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $basic_orange-red;

    & .socials__icon path {
      stroke: $basic_orange-red;
    }
  }
}

.socials__link-title {
  font-size: 18px;
  line-height: 32px;
  text-decoration-line: underline;
}
