.tabs-content__item {
  display: none;

  &--active {
    display: flex;
    flex-direction: column;
  }
}

.tabs-content__title {
  margin: 0;
  margin-bottom: 53px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: $basic_dark;
  position: relative;

  &::after {
    content: "";
    width: 175px;
    height: 3px;
    background-color: $basic_orange-red;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

.tabs-content__text {
  max-width: 370px;
  margin: 0;
  margin-bottom: 50px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: $special_dark;
}

.tabs-content__link {
  width: 250px;
  height: 75px;
}

@media (max-width: $tablet-width) {
  .tabs-content__item {
    padding: 20px 21px 30px;

    &--active {
      align-items: center;
    }
  }

  .tabs-content__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;

    &::after {
      display: none;
    }
  }

  .tabs-content__text {
    max-width: 100%;
    margin-bottom: 20px;
    line-height: 28px;
  }

  .tabs-content__title,
  .tabs-content__text {
    text-align: center;
  }

  .tabs-content__link {
    height: 50px;
  }
}

@media (max-width: $mobile-width) {
  .tabs-content__item {
    padding: 24px 16px 50px;
  }

  .tabs-content__title {
    font-size: 24px;
    line-height: 36px;
  }

  .tabs-content__title,
  .tabs-content__text {
    margin-bottom: 20px;
  }
}
