.tabs-content__item {
  display: none;

  &--active {
    display: block;
  }
}

.tabs-content__title {
  margin: 0;
  margin-bottom: 53px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: $basic_dark;
  position: relative;

  &::after {
    content: "";
    width: 175px;
    height: 3px;
    background-color: $basic_orange-red;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

.tabs-content__text {
  width: 370px;
  margin-bottom: 50px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: $special_dark;
}

.tabs-content__link {
  width: 250px;
  height: 75px;
}
