.tabs-triggers {
  margin-bottom: 80px;
  display: inline-flex;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $basic_dark;
    opacity: 0.3;
    position: absolute;
    bottom: -15px;
    left: 0;
  }
}

.tabs-triggers__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;
  color: $basic_dark;
  opacity: 0.3;

  &:not(:first-child) {
    margin-left: 99px;
  }

  &:hover,
  &:focus,
  &--active {
    color: $basic_orange-red;
    opacity: 1;
  }
}
