// Colors

$basic_black: #141517;
$basic_dark: #2c2e3f;
$basic_orange-red: #fe7865;
$basic_orange: #f17d4b;
$basic_white: #ffffff;

// Viewports

$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
