// Colors

$basic_black: #141517;
$basic_dark: #2c2e3f;
$basic_orange-red: #fe7865;
$basic_orange: #f17d4b;
$basic_white: #ffffff;

$special_black: #000000;
$special_dark: rgba($basic_dark, 0.7);
$special_white: rgba($basic_white, 0.7);

// Viewports

$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
